@charset "ISO-8859-1";
@import url ('https://fonts.google.com/specimen/Roboto?selection.family=Roboto');

* {font-family: 'Roboto', sans-serif; color: black;}

.navbar li {
    border:1px solid #bbb;
}

.navbar li:first-child {
    border: none;
}

.navbar li:last-child{
   border: none;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding:10px;
  width: 20%;
  height: 100%;
  top:0;
  left:0;
  overflow: auto;
  background-color: #5b5e63;
  position: fixed;
}

.navbar a {
  left:0;
  display: block;
  color: #ffffff;
  text-align: left;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
    background-color: #9599a0;
    color: black;
}
.active {
    background-color: #4CAF50;
    color: white;
}

.header {
  background-color: #5b5e63;
    display: block;
    top:0;
    left:0;
    padding: 0;
    height:250px;
    width:100%;
  position: absolute;
}

body {
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
max-width: 800px; 
background-color:#702020; 
margin-top: 300px;
margin-left: 25%;
margin-right: 15%;
color:white; 
}
h1 {color: white;}
h2 {color: #ffcccc;}
h3 {color: black; font-size: 100}
li {left:-60px}
a:link {color: white;}
a:visited {color: white;}
a:hover {color: white;}
a:active {color: white;}